<!DOCTYPE html>
<html lang="pt-br" ng-app="semdf">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>S.E.M.DF</title>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fileinput.min.css">
    
</head>

<body>
   <meu-painel></meu-painel>
    <div>

        <ng-view></ng-view>

    </div>
    <!-- fim container -->
    <rodape></rodape>
    
    
    
    <script src="js/lib/3-2-1-jquery.min.js"></script>
    
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/main.js"></script>
 
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="js/lib/collapsesModalidades.js"></script>
    <script src="js/lib/fileinput.min.js"></script>
   
    

    <!--<script src="js/controllers/fotos-controller.js"></script>
    <script src="js/controllers/grupos-controller.js"></script>
    <script src="js/controllers/login-controller.js"></script>-->
    
    <script src="js/directives/minhas-diretivas.js"></script>    
    <script src="js/controllers/matricula-controller.js"></script>    
    <!--<script src="js/services/meus-servicos.js"></script>-->
    <!--<script src="js/services/token-interceptor.js"></script>-->
    
    
</body>

</html>