<div class="container colorFundoGray">
    <br><br><br><br>
    <center>
        <P><strong id="tituloPagina">ACOMPANHAMENTO DA MATRICULA</strong></P>
    </center>
    <hr>
    <br><br>
    <div class="row">

        <div class="col">
            <div class="card bordaRedonda">
                <div class="list-group list-group-flush text-left">
                    <strong class="list-group-item fontTamanho">Etapa 1: Formulario Enviado</strong>
                </div>
                <img src="../css/img/imac.png" alt="Card image cap">
                <div class="card-body figure-caption text-left fontColorGreen">
                    <h4 id="titulo">Formulario Enviado</h4>
                    <p class="card-text fontColorWhite">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bordaRedonda">
                <div class="list-group list-group-flush text-left">
                    <strong class="list-group-item">Etapa 2: Fase de Analise</strong>
                </div>
                <img src="../css/img/imac.png" alt="Card image cap">
                <div class="card-body figure-caption text-left fontColorGreen">
                    <h4 id="titulo">Fase de Analise</h4>
                    <p class="card-text fontColorWhite">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bordaRedonda">
                <div class="list-group list-group-flush text-left">
                    <strong class="list-group-item">Etapa 3: Encaminhado</strong>
                </div>
                <img src="../css/img/imac.png" alt="Card image cap">
                <div class="card-body figure-caption text-left fontColorGreen">
                    <h4 id="titulo">Encaminhado</h4>
                    <p class="card-text fontColorWhite">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bordaRedonda">
                <div class="list-group list-group-flush text-left">
                    <strong class="list-group-item">Etapa 4: Matriculado</strong>
                </div>
                <img src="../css/img/imac.png" alt="Card image cap">
                <div class="card-body figure-caption text-left fontColorGreen">
                    <h4 id="titulo">Matriculado</h4>
                    <p class="card-text fontColorWhite">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>


    </div>
    
</div>