<div class="alert alert-warning">
    <h3>AVISO</h3>
    <p>Os dados que devem ser cadastrados em usuário são os dados do responsável pelo estudante.</p>
</div>
<div class="container bg-light" id="divForm">
<form ng-submit="cadastrar()">
<h2 class="text-center">Cadastro</h2><br>
   <div class="row">
    <div class="form-group col-md-4">
        <label class="form-control-label" for="login">Login <strong class="obrigatorio">*</strong></label>
        <input type="text" class="form-control" ng-model="cadastro.login" id="login" name="login" placeholder="" ng-required>
    </div>
    <div class="form-group col-md-4">
        <label class="form-control-label" for="senha">Senha <strong class="obrigatorio">*</strong></label>
        <input type="password" class="form-control" ng-model="cadastro.senha" id="senha" name="senha" placeholder="" ng-required>
    </div>
    <div class="form-group col-md-4">
        <label class="form-control-label" for="confSenha">Confirme a senha <strong class="obrigatorio">*</strong></label>
        <input type="password" class="form-control" ng-model="cadastro.confSenha" id="confSenha" name="confSenha" placeholder="">
    </div>
   </div>
    <div class="form-group">
        <h3>Dados do Responsável</h3>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="nomeResp">Nome Completo <strong class="obrigatorio">*</strong></label>
        <input type="text" class="form-control" ng-model="cadastro.nomeResp" id="nomeResp" name="nomeResp" placeholder="">
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="form-control-label" for="rgResp">Número do RG <strong class="obrigatorio">*</strong></label>
            <input type="number" class="form-control" ng-model="cadastro.rgResp" id="rgResp" name="rgResp" placeholder="">
        </div>
        <div class="form-group col-md-4">
            <label class="form-control-label" for="orgExpResp">Órgão de Expedição <strong class="obrigatorio">*</strong></label>
            <input type="text" class="form-control" ng-model="cadastro.orgExpResp" id="orgExpResp" name="orgExpResp" placeholder="">
        </div>
        <div class="form-group col-md-4">
            <label class="form-control-label" for="cpfResp">CPF <strong class="obrigatorio">*</strong></label>
            <input type="number" class="form-control" ng-model="cadastro.cpfResp" id="cpfResp" name="cpfResp" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="form-control-label" for="email">Email <strong class="obrigatorio">*</strong></label>
            <input type="email" class="form-control" ng-model="cadastro.email" id="email" name="email" placeholder="">
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="tele1">Telefone <strong class="obrigatorio">*</strong></label>
            <input type="number" class="form-control" ng-model="cadastro.telefone" id="tele1" name="tele1" placeholder="">
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="tele2">Telefone</label>
            <input type="number" class="form-control" ng-model="cadastro.celular" id="tele2" name="tele2" placeholder="">
        </div>
    </div>
    
    <div class="form-group">
            <input type="submit" class="btn btn-success" value="Cadastrar">
    </div>
</form>
</div>