<section class="container bg-light">

       <div class="jumbotron jumbotron-fluid">
           <div class="container">
               <h1 class="display-2">Ajuda</h1>
               <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
           </div>
       </div>


       <nav class="navbar navbar-light bg-light justify-content-end ">
           <form class="form-inline">
               <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
       </nav>
       <hr>
       <p>
           <button class="btn btn-success col-md-3 ml-md-2" type="button" data-toggle="collapse" data-target="#master" aria-expanded="false" aria-controls="multiCollapseExample1">Problemas com a matrícula</button>
       </p>
       <div class="row justify-content-md-center">
           <div class="col-md-11">
               <div class="collapse multi-collapse" id="master">
                   <p>
                       <button class="btn btn-success col-md-3 ml-md-4" type="button" data-toggle="collapse" data-target="#2" aria-expanded="false" aria-controls="multiCollapseExample1">Vagas esgotadas</button>
                   </p>
                   <div class="row justify-content-md-center">
                       <div class="col-md-11">
                           <div class="collapse multi-collapse" id="2">
                               <p class="card card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                               </p>
                           </div>
                       </div>
                   </div>
                   <p>
                       <button class="btn btn-success col-md-3 ml-md-4" type="button" data-toggle="collapse" data-target="#3" aria-expanded="false" aria-controls="multiCollapseExample1">Falta de documentação</button>
                   </p>
                   <div class="row justify-content-md-center">
                       <div class="col-md-11">
                           <div class="collapse multi-collapse" id="3">
                               <p class="card card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                               </p>
                           </div>
                       </div>
                   </div>
                   <p>
                       <button class="btn btn-success col-md-3 ml-md-4" type="button" data-toggle="collapse" data-target="#4" aria-expanded="false" aria-controls="multiCollapseExample1">Meu problema não esta aqui.</button>
                   </p>
                   <div class="row justify-content-md-center">
                       <div class="col-md-11">
                           <div class="collapse multi-collapse" id="4">
                               <p class="card card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <p>
           <button class="btn btn-success col-md-3 ml-md-2" type="button" data-toggle="collapse" data-target="#master1" aria-expanded="false" aria-controls="multiCollapseExample1">Problemas com cadastro do sistema</button>
       </p>
       <div class="row justify-content-md-center">
           <div class="col-md-11">
               <div class="collapse multi-collapse" id="master1">
                   <p>
                       <button class="btn btn-success col-md-3 ml-md-4" type="button" data-toggle="collapse" data-target="#sec2" aria-expanded="false" aria-controls="multiCollapseExample1">O sistema não responde</button>
                   </p>
                   <div class="row justify-content-md-center">
                       <div class="col-md-11">
                           <div class="collapse multi-collapse" id="sec2">
                               <p class="card card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                               </p>
                           </div>
                       </div>
                   </div>
                   <p>
                       <button class="btn btn-success col-md-3 ml-md-4" type="button" data-toggle="collapse" data-target="#sec23" aria-expanded="false" aria-controls="multiCollapseExample1">erro '400'</button>
                   </p>

                   <div class="row justify-content-md-center">
                       <div class="col-md-11">
                           <div class="collapse multi-collapse" id="sec23">
                               <p class="card card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                               </p>
                           </div>
                       </div>
                   </div>
                   <p>
                       <button class="btn btn-success col-md-3 ml-md-4" type="button" data-toggle="collapse" data-target="#sec24" aria-expanded="false" aria-controls="multiCollapseExample1">Meu problema não esta aqui.</button>
                   </p>
                   <div class="row justify-content-md-center">
                       <div class="col-md-11">
                           <div class="collapse multi-collapse" id="sec24">
                               <p class="card card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
