<div class="container configPagMap">
   
     <center>
       <p class="TituloPagMap"><strong id="tituloPagina">Matrícula</strong></p>
    </center>
  
    <form action="">

        <div class="row configSelecPagMap">
            <div class="form-group col-md-4">
                <h3 class="mr-sm-3" for="inlineFormCustomSelect">Selecione a Cidade:</h3>
                <select  ng-model="map.cidade" ng-change="cidadeChange(map.cidade)" ng-options="cidade.nome for cidade in cidades" class="custom-select col-sm-4" id="inlineFormCustomSelect">
                            <option value="">Selecionar</option>
                          </select>
            </div>

     
            <div class="form-group col-md-">
                <h3 class="mr-sm-3" for="inlineFormCustomSelect">Selecione Etapas do Ensino:</h3>
                <select ng-model="map.ensino" ng-change="ensinoChange(map.ensino)" ng-options="ensino.teste for ensino in ensinos" class="custom-select col-md-3" id="inlineFormCustomSelect">
                            <option value="">Selecionar</option>
                          </select>
            </div>

      
            <div class="form-group col-md-4">
                <h3 class="mr-sm-3" for="inlineFormCustomSelect">Selecione a Escolas:</h3>
                <select ng-model="map.escola" ng-change="escolaChange(map.escola)" ng-options="escola.nomeEscola for escola in escolas" class="custom-select col-md-3" id="inlineFormCustomSelect">
                           <option value="">Selecionar</option>
                          </select>
            </div>

        </div>
        
    </form>



    <div class="row">


      <div style="height: 400px;" class=" col-md-7">
            <div id="map">

            </div>

           

        


        </div>


        <div class="row justify-content-md-center">


            <div class="card border-dark mb-3">
                <div class="card-header">Imformações sobre a escola:&nbsp;&nbsp;</div>
                <div class="card-body text-dark">

                    <h6>Endereço: Asa Sul 304</h6>

                    <br>

                    <h6>Telefones: (61)3243-3213</h6>
                    <h6>Telefones: (61)3243-3213</h6>
                </div>
            </div>

            <div class="col-6 ">
                <a href="/formulario/1" class="btn btn-success">Matricular</a>
            </div>

        </div>

    </div>

 <div class="form-gruop configuraAvaPagMap">
   
    <ul class="nav nav-pills myTab" role="tablist">
        <li class="nav-item">
           
            <a class="btn btn-outline-success" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Avaliações</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-success" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>

    </ul>
    <div class="tab-content comentarioMap" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


            <div class="card border-dark mb-3 ">
                <div class="card-header">Lucas Fernandes&nbsp;&nbsp;<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span></div>
                <div class="card-body text-dark">

                    <p class="card-text">Gosto muito dessa escola.</p>
                </div>
            </div>
         
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">STREET+n DA A BUNDA NA STREET</div>

    </div>
</div>
</div>